<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <link rel="stylesheet" href="../static/about_user.css">
    <script src="../static/about_user.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container" id="root">
        <br>
        <br>
        <br>
        <br>
        <p class="h2" style="color:  rgb(173, 103, 12);">My Blogs:</p>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
       
            <div class="container">
              <div class="navbar-brand"><img src="https://i.ibb.co/ZXLVqZ5/newlogo.png" style="width:30px;height:30px"></div>
              <a class="navbar-brand" href="home.html">Bloggosphere</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <a href="posting.html" class="btn btn-outline-success btn-lg hvr-underline-from-left" role="button" style="margin-right: 10px; padding-left: 3px; padding-right: 3px;">Write More!</a>
                    <li class="nav-item" id="User">
                        <a class="nav-link active" id="User_Name" style="margin-left: 2px; padding:7.5px; border: 2px solid green; border-radius: 5px;"><img src="https://i.ibb.co/c1djZtS/585e4bf3cb11b227491c339a.png" style="width:30px;height: 30px"></a>
                      </li>
               </ul>
              </div>
            </div>
          </nav>
    </div>
</body>
</html>

