<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Categories</title>
    
    <!-- load stylesheets -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">  <!-- Google web font "Open Sans" -->
    <link rel="stylesheet" href="../static/customtemplate.css">                                      <!-- Bootstrap style -->
    <link rel="stylesheet" href="../static/home.css">                                   <!-- Templatemo style -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
          <![endif]-->
</head>

    <body>
      <section>
       <!--Navigation-->
       <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">

        <!-- <div class="topnav">
           <input type="text" placeholder="Search...">
         </div>-->
       
         <div class="container">
           <div class="navbar-brand"> <b>Bloggosphere</b></div>
           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                 <span class="navbar-toggler-icon"></span>
           </button>
           <div class="collapse navbar-collapse" id="navbarResponsive">
             <ul class="navbar-nav ml-auto">
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#" style="margin-left: 2px; padding:7.5px; border: 2px solid white"><b>Home</b></a></li>
               <li class="nav-item active">
                 <a class="nav-link" href="#" style="margin-left: 2px; padding:7.5px; border: 2px solid white"><b>Categories</b>
                       <span class="sr-only">(current)</span>
                     </a>
             </ul>
           </div>
         </div>
       </nav>
       
<!-- Trending Blog-->
    <div class="container-fluid">
    <div class="row tm-margin-t-big">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
          <div class="tm-2-col-left">
            <h2 class="tm-gold-text tm-title" id="trending"><b>LIFESTYLE & TRAVEL</b></h2>  
            <h3 class="tm-gold-text tm-title">Blog Title Holder</h3>
              <p class="tm-margin-b-30"> ~ XYZAuthorName </p>
              <div><img src="https://i.ibb.co/QQc89PP/patrick-perkins-ETRPjvb0-KM0-unsplash.jpg" alt="patrick-perkins-ETRPjvb0-KM0-unsplash" border="0" style="width:660px; height:200px"></div>
              <br>
              <p> <br>
                  These are the first few lines of the blog and this the first blog of the category chosen by the user. This is a dummy blog for categories, each category link redirects to this only.
              </p>
              <p>The photo's aspect ratios are fixed, so any photo uploaded by the user that ends up on the category tab will be here. This is just a filler, we can make it shorter and add more divs like these.</p>
              <p class="m-b-2"> Just an extra line to be able to conclude this, can add more such lines.
              </p><br>
              <h3 class="tm-gold-text tm-title">Blog Title Holder</h3>
              <p class="tm-margin-b-30"> ~ XYZAuthorName </p>
              <p><div><img src="https://i.ibb.co/QQc89PP/patrick-perkins-ETRPjvb0-KM0-unsplash.jpg" alt="patrick-perkins-ETRPjvb0-KM0-unsplash" border="0" style="width:660px; height:200px"></div></p>
              <br>
              <p> This is sample lines of the first blog. The sentences will get displayed and on pressing read more, we get to the part where the full blog will be displayed only after logging in though.
              </p>
              <p>The photo's aspect ratios are fixed, so any photo uploaded by the user that ends up on the category tab will be here. This is just a filler, we can make it shorter and add more divs like these.</p>
              <p class="m-b-2"> Just an extra line to be able to conclude this, can add more such lines.
              </p><br>
              <h3 class="tm-gold-text tm-title">Blog Title Holder</h3>
              <p class="tm-margin-b-30"> ~ XYZAuthorName </p>
              <p><div><img src="https://i.ibb.co/QQc89PP/patrick-perkins-ETRPjvb0-KM0-unsplash.jpg" alt="patrick-perkins-ETRPjvb0-KM0-unsplash" border="0" style="width:660px; height:200px"></div></p>
              <br>
              <p> This is sample lines of the first blog. The sentences will get displayed and on pressing read more, we get to the part where the full blog will be displayed only after logging in though.
              </p>
              <p>The photo's aspect ratios are fixed, so any photo uploaded by the user that ends up on the category tab will be here. This is just a filler, we can make it shorter and add more divs like these.</p>
              <p class="m-b-2">Just an extra line to be able to conclude this, can add more such lines.
              </p>
          </div>
      </div>
      <!-- Different Categories of blogs(vertical coloumn)-->
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
        <div class="tm-2-col-right">              
                <div class="row tm-2-rows-md-down-1 tm-margin-t-mid" >
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                          <h3 class="tm-gold-text tm-title tm-margin-b-30" style="margin-top: 60px;"><u>Other blogs on our page:</u></h3>
                          <div class="media tm-related-post">
                            <div class="media-left media-middle">
                              <div>
                              <img class="media-object" src="https://i.ibb.co/pPXmHNQ/xx1.jpg" alt="Generic placeholder image" style="width:200px;height:125px">
                              </div>
                            </div>
                            <div class="media-body">
                              <a href="#"><h4 class="media-heading tm-gold-text tm-margin-b-15">Lifestyle & Travel</h4></a>
                              <p class="tm-small-font tm-media-description">The links above will redirect to a page having blogs of those specific categories as flagged by the user while writing them. text holds static description of the category.</p>
                            </div>
                          </div>
                          <div class="media tm-related-post">
                            <div class="media-left media-middle">
                              <div>
                                <img class="media-object" src="https://i.ibb.co/kXFTRQR/xx2.jpg" alt="Generic placeholder image" style="width:200px;height:125px">
                              </div>
                            </div>
                            <div class="media-body">
                              <div><h4 class="media-heading tm-gold-text tm-margin-b-15">News and Politics</h4></div>
                              <p class="tm-small-font tm-media-description">The links above will redirect to a page having blogs of those specific categories as flagged by the user while writing them. text holds static description of the category.</p>
                            </div>
                          </div>
                          <div class="media tm-related-post">
                            <div class="media-left media-middle">
                              <div>
                                <img class="media-object" src="https://i.ibb.co/932wtPv/xx3.jpg" alt="Generic placeholder image" style="width:200px;height:125px">
                              </div>
                            </div>
                            <div class="media-body">
                              <a href="#"><h4 class="media-heading tm-gold-text tm-margin-b-15">Entertainment</h4></a>
                              <p class="tm-small-font tm-media-description">The links above will redirect to a page having blogs of those specific categories as flagged by the user while writing them. text holds static description of the category.</p>
                            </div>
                          </div> 
                          <div class="media tm-related-post">
                            <div class="media-left media-middle">
                              <div>
                              <img class="media-object" src="https://i.ibb.co/pPXmHNQ/xx1.jpg" alt="Generic placeholder image" style="width:200px;height:125px">
                              </div>
                            </div>
                            <div class="media-body">
                              <a href="#"><h4 class="media-heading tm-gold-text tm-margin-b-15">Finance & Bussiness</h4></a>
                              <p class="tm-small-font tm-media-description">The links above will redirect to a page having blogs of those specific categories as flagged by the user while writing them. text holds static description of the category.</p>
                            </div>
                          </div>
                          <div class="media tm-related-post">
                            <div class="media-left media-middle">
                              <div>
                              <img class="media-object" src="https://i.ibb.co/pPXmHNQ/xx1.jpg" alt="Generic placeholder image" style="width:200px;height:125px">
                              </div>
                            </div>
                            <div class="media-body">
                              <a href="#"><h4 class="media-heading tm-gold-text tm-margin-b-15">Lifestyle & Travel</h4></a>
                              <p class="tm-small-font tm-media-description">The links above will redirect to a page having blogs of those specific categories as flagged by the user while writing them. text holds static description of the category.</p>
                            </div>
                          </div>
                          <div class="media tm-related-post">
                            <div class="media-left media-middle">
                              <div>
                                <img class="media-object" src="https://i.ibb.co/kXFTRQR/xx2.jpg" alt="Generic placeholder image" style="width:200px;height:125px">
                              </div>
                            </div>
                            <div class="media-body">
                              <a href="#"><h4 class="media-heading tm-gold-text tm-margin-b-15">News and Politics</h4></a>
                              <p class="tm-small-font tm-media-description">The links above will redirect to a page having blogs of those specific categories as flagged by the user while writing them. text holds static description of the category.</p>
                            </div>
                          </div>
                          <div class="media tm-related-post">
                            <div class="media-left media-middle">
                              <div>
                                <img class="media-object" src="https://i.ibb.co/932wtPv/xx3.jpg" alt="Generic placeholder image" style="width:200px;height:125px">
                              </div>
                            </div>
                            <div class="media-body">
                              <a href="#"><h4 class="media-heading tm-gold-text tm-margin-b-15">Entertainment</h4></a>
                              <p class="tm-small-font tm-media-description">The links above will redirect to a page having blogs of those specific categories as flagged by the user while writing them. text holds static description of the category.</p>
                            </div>
                          </div> 
                          <div class="media tm-related-post">
                            <div class="media-left media-middle">
                              <div>
                              <img class="media-object" src="https://i.ibb.co/pPXmHNQ/xx1.jpg" alt="Generic placeholder image" style="width:200px;height:125px">
                              </div>
                            </div>
                            <div class="media-body">
                              <a href="#"><h4 class="media-heading tm-gold-text tm-margin-b-15">Finance & Bussiness</h4></a>
                              <p class="tm-small-font tm-media-description">The links above will redirect to a page having blogs of those specific categories as flagged by the user while writing them. text holds static description of the category.</p>
                            </div>
                          </div>
                          <div class="media tm-related-post">
                            <div class="media-left media-middle">
                              <div>
                              <img class="media-object" src="https://i.ibb.co/pPXmHNQ/xx1.jpg" alt="Generic placeholder image" style="width:200px;height:125px">
                              </div>
                            </div>
                            <div class="media-body">
                              <a href="#"><h4 class="media-heading tm-gold-text tm-margin-b-15">Finance & Bussiness</h4></a>
                              <p class="tm-small-font tm-media-description">The links above will redirect to a page having blogs of those specific categories as flagged by the user while writing them. text holds static description of the category.</p>
                            </div>
                          </div>
                          
                      </div>
                  </div>    
                </div>
            </div>
        </div>
      </div> 
    </div>    
    <div class="newwfooter" style= "left:0; bottom:0; height:50px; width: 100%;background-color:white; text-align:center" >
        <a href="#"><img src="https://i.ibb.co/C5jb0X1/43-twitter-512.png" style="width:50px;height:50px; padding:2px"></a>
        <a href="#"><img src="https://i.ibb.co/fSYpYYZ/639b3dafb544d6f061fcddd2d6686ddb.jpg" style="width:70px;height:50px; padding:2px"></a>
        <a href="#"><img src="https://i.ibb.co/rwMk2v6/Whatsapp-512.png" style="width:45x;height:45px; padding:2px"></a>
      
      </div>
  </section>
</body>
</html>