<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read Blog</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- linking css and js files with main html file -->
    <link rel="stylesheet" href="../static/display.css">
    <script src="../static/display.js"></script>
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
       
        <div class="container">
          <div class="navbar-brand"><img src="https://i.ibb.co/ZXLVqZ5/newlogo.png" style="width:30px;height:30px"></div>
          <a class="navbar-brand" href="#">Bloggosphere</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <a href="/posting" class="btn btn-outline-success btn-lg hvr-underline-from-left" role="button" style="margin-right: 10px; padding-left: 3px; padding-right: 3px;">Write More!</a>
                <li class="nav-item" id="User">
                  <a  class="nav-link active" id="User_Name" href="/my_blogs" style="margin-left: 2px; padding:7.5px; border: 2px solid green;border-radius: 5px;"><img src="https://i.ibb.co/c1djZtS/585e4bf3cb11b227491c339a.png" style="width:30px;height: 30px;"></a>
                </li>
           </ul>
          </div>
        </div>
      </nav>
    <div id="root" class="container">
        <h1 id="main_heading" style="padding-top: 100px;">Welcome</h1>
    </div>
</body>
</html>
