<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/customtemplate.css">
    <link rel="stylesheet" rel="icon" href="../static/home.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">
  <link
      rel="stylesheet"
      href=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>   
 <script src=
"https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js">
    </script>
    <script src=
"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">
    </script>
    <script src=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
    </script>
<script src="../static/home.js"></script>
    <title>Homepage</title>
</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">

 <!-- <div class="topnav">
    <input type="text" placeholder="Search...">
  </div>-->

  <div class="container" style="font-family: 'Open Sans', Helvetica, Arial, sans-serif; font-weight: 100;">
    <div class="navbar-brand"><img src="https://i.ibb.co/ZXLVqZ5/newlogo.png" style="width:30px;height:30px"></div>
    <div class="navbar-brand"> <b>Bloggosphere</b></div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#" style="margin-left: 2px; padding:7.5px; border: 2px solid white"><b>Home</b>
                <span class="sr-only">(current)</span>
              </a>
        </li>
        <li class="nav-item" id="Login_button">
          <a class="nav-link active" href="/login" style="margin-left: 2px; padding: 7.5px; border: 2px solid white"> <b>Login/SignUp</b></a>
        </li>
        <li class="nav-item" id="User">
          <a class="nav-link active" id="User_Name" href="/my_blogs" style="margin-left: 2px; padding:6.5px; border: 2px solid white"><img src="https://i.ibb.co/c1djZtS/585e4bf3cb11b227491c339a.png" style="width:30px;height: 30px;"></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!--Caraousel-->
<header>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">

<!--Caraousel  Slide One setting background image for this slide -->
      <div class="carousel-item active" style="background-image: url('https://i.ibb.co/JcfB1jH/pehla.jpg')">
        <div class="animation-area">
          <ul class="box-area">
            <li></li> 
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
        <div class="carousel-caption d-none d-md-block">
          <h3 class="display-4">Welcome to Bloggosphere!</h3>
          <p class="lead">Start reading and writing by joining our community today!</p>
          <a href="/login" id="signup_button" class="btn btn-primary btn-lg hvr-underline-from-left" role="button">Sign up</a>
        </div>
      </div>
  <!--Caraousel  Slide two setting the background image for this slide -->
      Slide Two - Set the background image for this slide in the line below 
      <div class="carousel-item" style="background-image: url('https://i.ibb.co/YXk623w/joanna-kosinska-Pbg-Y3ptg-A4-A-unsplash.jpg')">
        <div class="animation-area">
          <ul class="box-area">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
        <div class="carousel-caption d-none d-md-block">
          <h3 class="display-4">Explore around!</h3>
          <p class="lead">Start reading even without signing in!</p>
          <a href="#trending" class="btn btn-primary btn-lg hvr-underline-from-left" role="button" >Read!</a>
        </div>
      </div>
     <!--Caraousel  Slide three setting the background image for this slide in the line below -->
      Slide Three - Set the background image for this slide in the line below 
      <div class="carousel-item" style="background-image: url('https://i.ibb.co/TwNNN32/markus-winkler-jid7-TSoa02c-unsplash.jpg')">
        <div class="animation-area">
          <ul class="box-area">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
        <div class="carousel-caption d-none d-md-block">
          <h3 class="display-4">Write with us!</h3>
          <p class="lead">Start writing by becoming a member today!</p>
          <a href="/posting" class="btn btn-primary btn-lg hvr-underline-from-left" role="button">Write!</a>
        </div>
      </div>
    </div> 

      <!-- Left and right controls-->
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
  </div>
</header>

<!-- Page Content-->

<!-- Trending Blog-->
<section class="tm-section" style="margin-left: 1rem; margin-right: 1rem; font-family: 'Open Sans', Helvetica, Arial, sans-serif;">
<div class="container-fluid" id="trending">
<div class="row tm-margin-t-big">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
      <div class="tm-2-col-left">
          
        <h2 class="tm-gold-text tm-title">Trending:</h2>  
        <h3 class="tm-gold-text tm-title">Blog Title Holder</h3>
          <p class="tm-margin-b-30"> ~ XYZAuthorName </p>

          <div><img src="https://i.ibb.co/QQc89PP/patrick-perkins-ETRPjvb0-KM0-unsplash.jpg" alt="patrick-perkins-ETRPjvb0-KM0-unsplash" border="0" style="width:660px; height:400px"></div>
          </a><br>
          <p> <br>
              This is sample lines of the first blog. The sentences will get displayed and on pressing read more, we get to the part where the full blog will be displayed even if the user does not logg in.
          </p>
          <p>The photo's aspect ratios are fixed, tried to alter the bootstrap for it, Could do more, will figure it out in a day or two. This is just a filler, we can make it shorter and add more divs like these.</p>
          <!--<p class="m-b-2"> Just an extra line to be able to conclude this, blog page is under progress right now, will be done soon.
          </p>-->
          <a href="/display" class="tm-btn">Read More</a>
      </div>
  </div>

  <!-- Different Categories of blogs(vertical coloumn)-->
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
    <div class="tm-2-col-right">              
            <div class="row tm-2-rows-md-down-1 tm-margin-t-mid" >
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                      <h3 class="tm-gold-text tm-title tm-margin-b-30">Categories:</h3>
                      <div class="media tm-related-post">
                        <div class="media-left media-middle">
                          <div>
                          <img class="media-object" src="https://i.ibb.co/pPXmHNQ/xx1.jpg" alt="Generic placeholder image" style="width:200px;height:125px">
                          </div>
                        </div>
                        <div class="media-body">
                          <a href="/categories"><h4 class="media-heading tm-gold-text tm-margin-b-15"><u>Lifestyle & Travel</u></h4></a>
                          <p class="tm-small-font tm-media-description">The links above will redirect to a page having blogs of those specific categories as flagged by the user while writing them. text holds static description of the category.</p>
                        </div>
                      </div>
                      <div class="media tm-related-post">
                        <div class="media-left media-middle">
                          <div>
                            <img class="media-object" src="https://i.ibb.co/kXFTRQR/xx2.jpg" alt="Generic placeholder image" style="width:200px;height:125px">
                          </div>
                        </div>
                        <div class="media-body">
                          <a href="/categories"><h4 class="media-heading tm-gold-text tm-margin-b-15"><u>News and Politics</u></h4></a>
                          <p class="tm-small-font tm-media-description">The links above will redirect to a page having blogs of those specific categories as flagged by the user while writing them. text holds static description of the category.</p>
                        </div>
                      </div>
                      <div class="media tm-related-post">
                        <div class="media-left media-middle">
                          <div>
                            <img class="media-object" src="https://i.ibb.co/932wtPv/xx3.jpg" alt="Generic placeholder image" style="width:200px;height:125px">
                          </div>
                        </div>
                        <div class="media-body">
                          <a href="/categories"><h4 class="media-heading tm-gold-text tm-margin-b-15"><u>Entertainment</u></h4></a>
                          <p class="tm-small-font tm-media-description">The links above will redirect to a page having blogs of those specific categories as flagged by the user while writing them. text holds static description of the category.</p>
                        </div>
                      </div> 
                      <div class="media tm-related-post">
                        <div class="media-left media-middle">
                          <div>
                          <img class="media-object" src="https://i.ibb.co/pPXmHNQ/xx1.jpg" alt="Generic placeholder image" style="width:200px;height:125px">
                          </div>
                        </div>
                        <div class="media-body">
                          <a href="/categories"><h4 class="media-heading tm-gold-text tm-margin-b-15"><u>Finance & Bussiness</u></h4></a>
                          <p class="tm-small-font tm-media-description">The links above will redirect to a page having blogs of those specific categories as flagged by the user while writing them. text holds static description of the category.</p>
                        </div>
                      </div>
                  </div>
              </div>    
            </div>
        </div>
    </div>
  </div> 
</div>  

<!--Recommended Blogs (horizontal row above footer)  -->
<br>
<br>
<div class="container-fluid">
  <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-xs-center">
          <h2 class="tm-gold-text tm-title">Recommended:</h2>
      </div>
  </div>
  <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">

          <div class="tm-content-box">
            <div><img src="https://i.ibb.co/hKWc1qt/mesut-kaya-b-Cwg-Fb-ll-Ps-unsplash.jpg" alt="mesut-kaya-b-Cwg-Fb-ll-Ps-unsplash" class="tm-margin-b-20 img-fluid"></div>
              <h4 class="tm-margin-b-20 tm-gold-text">Recommended #1</h4>
              <p class="tm-margin-b-20">First few lines of the content blog being displayed. On clicking the button below, the blog main page should get redirected to the reading page.</p>
              <a href="/display" class="tm-btn">Read More</a>    
          </div>  

      </div>


      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">

          <div class="tm-content-box">
            <div><img src="https://i.ibb.co/JBh4jy3/sam-manns-p0-Zv-BVp-W3-KY-unsplash.jpg" alt="sam-manns-p0-Zv-BVp-W3-KY-unsplash" class="tm-margin-b-20 img-fluid"></div>
              <h4 class="tm-margin-b-20 tm-gold-text">Recommended #2</h4>
              <p class="tm-margin-b-20">First few lines of the content blog being displayed. On clicking the button below, the blog main page should get redirected to the reading page.</p>
              <a href="/display" class="tm-btn">Read More</a>    
          </div>  
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">

          <div class="tm-content-box">
            <div><img src="https://i.ibb.co/0CBrRHp/thought-catalog-505eect-W54k-unsplash.jpg" alt="thought-catalog-505eect-W54k-unsplash" class="tm-margin-b-20 img-fluid"></div>
              <h4 class="tm-margin-b-20 tm-gold-text">Recommended #3</h4>
              <p class="tm-margin-b-20">First few lines of the content blog being displayed. On clicking the button below, the blog main page should get redirected to the reading page.</p>
              <a href="/display" class="tm-btn">Read More</a>    
          </div>  

      </div>

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
          <div class="tm-content-box">
            <div><img src="https://i.ibb.co/sv2XQ1R/rana-sawalha-W-6-PWGb-Ya-U-unsplash.jpg" alt="rana-sawalha-W-6-PWGb-Ya-U-unsplash" class="tm-margin-b-20 img-fluid"></div>
              <h4 class="tm-margin-b-20 tm-gold-text">Recommended #4</h4>
              <p class="tm-margin-b-20">First few lines of the content blog being displayed. On clicking the button below, the blog main page should get redirected to the reading page.</p>
              <a href="/display" class="tm-btn">Read More</a>    
          </div>  
      </div>
  </div>
</div>

<!--footer-->

<br>
<br>
<div class="newfooter" style= "left:0; bottom:0; height:50px; width: 100%;background-color:white; text-align:center" >
  <a href="#"><img src="https://i.ibb.co/C5jb0X1/43-twitter-512.png" style="width:50px;height:50px; padding:2px"></a>
  <a href="#"><img src="https://i.ibb.co/fSYpYYZ/639b3dafb544d6f061fcddd2d6686ddb.jpg" style="width:70px;height:50px; padding:2px"></a>
  <a href="#"><img src="https://i.ibb.co/rwMk2v6/Whatsapp-512.png" style="width:45x;height:45px; padding:2px"></a>

</div>

</section>
</body>
</html>
