
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>A New Blog</title>
      <link rel="stylesheet" href="../static/posting.css">
      <script src="../static/posting.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>
  <body style="font-family:'Open Sans', Helvetica, Arial, sans-serif;">
      <div  id="root1">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-bottom:50px;">
          <div class="container-fluid">
            <a class="navbar-brand" href="home.html" style="margin-left: 0%;">
              <img src="bebo-logo.png" width="30" height="30" class="d-inline-block align-top">
              Bloggosphere
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-5 mb-lg-0">
               <button type="submit" id="Submit_krna" style="margin-left:600px; border-bottom-right-radius:10px; background-color: lightgreen; border-color: white;">Publish</button>
               <li class="nav-item">
                <a class="nav-link" href="https://imgbb.com/"><img src="https://i.ibb.co/c1djZtS/585e4bf3cb11b227491c339a.png" style="width:30px; height:30px; margin-left: 50px;">Hi, Muskan!</a>
              </li>
              </form>
            </div>
          </div>
        </nav>
        <div id="root">
       
           <div class="row">
              <div class="col-11">
                  <p id="txt_title" class="new_para" contenteditable="true" style="font-weight:100;">Title</p>
              </div>
              <div class="col-1 not_required">
                <button type="button" id="button-addon1" onclick="insert_img()" style="background-color: darkgray">Image</button>
              </div>
          </div>
        </div>
      </div>
  </body>
  </html>

  
