<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login</title>
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/sign_up.css">
  <script src="../static/sign_up.js"></script>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-11 mx-auto">
        <div class="card card-signin flex-row my-5">
          <div class="card-img-left d-none d-md-flex">
          </div>
          <div class="card-body">
            <h6 class="card-title text-center">Register for Blogging !!!</h6>
            <form class="form-signin" id="Form">
              <div class="form-label-group">
                <input type="text" id="fname" name="First_name" class="form-control" placeholder="First Name" required autofocus>
                <label for="fname">First Name</label>
              </div>
              
              <div class="form-label-group">
                <input type="text" id="lname" name="Last_name" class="form-control" placeholder="Last name" required autofocus>
                <label for="lname">Last Name</label>
              </div>
                

              <div class="form-label-group">
                <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required>
                <label for="inputEmail">Email address</label>
              </div>

              <div class="form-label-group">
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <label for="inputPassword">Password</label>
              </div>
              
              <div class="form-label-group">
                <input type="password" id="inputConfirmPassword" name="confirm_password" class="form-control" placeholder="Password" required>
                <label for="inputConfirmPassword">Confirm password</label>
              </div>

              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Register</button>
                
              <a class="d-block text-center mt-2 small" href="/login">Sign In</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>