body{

    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 18px;
	font-weight: 200;
	overflow-x: hidden;
    left: 10%;
    right: 10%;

}

#main_heading{
    color: rgb(173, 103, 12);
    font: italic;
    display: inline-block;
    position: relative;
    left: 42%;
    margin-bottom: 10px;
}

